@font-face {
  font-family: 'Interop';
  font-weight: 100;
  font-style: normal;
  src: url('@/assets/font/Interop-Thin.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Interop';
  font-weight: 200;
  font-style: normal;
  src: url('@/assets/font/Interop-ExtraLight.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Interop';
  font-weight: 300;
  font-style: normal;
  src: url('@/assets/font/Interop-Light.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Interop';
  font-weight: 400;
  font-style: normal;
  src: url('@/assets/font/Interop-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Interop';
  font-weight: 500;
  font-style: normal;
  src: url('@/assets/font/Interop-Medium.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Interop';
  font-weight: 600;
  font-style: normal;
  src: url('@/assets/font/Interop-SemiBold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Interop';
  font-weight: 700;
  font-style: normal;
  src: url('@/assets/font/Interop-Bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Interop';
  font-weight: 800;
  font-style: normal;
  src: url('@/assets/font/Interop-ExtraBold.woff2') format('woff2');
  font-display: swap;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

* {
  margin: 0;
  padding: 0;
  font-family:
    'Interop',
    system-ui,
    -apple-system,
    sans-serif;
}

html {
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  width: 100%;
  max-width: 375px;
  overflow-x: hidden;
}
